/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #000;
}

.btn-mobile {
    display: none;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    height: 623px;
}

/******************* ADD NAV **********************************/

.navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.navigation li {
    display: inline;
    justify-content: right;
}

.navigation ul {
    margin-top: 0.5em;
    width: 280px;
}

.navigation a {
    margin-left: 18%;
    margin-top: 15%;
}
.navigation img {
    width: 5%;
    height: 5%;
    margin: 1% 0% 3% 0;
}

.navigation a:hover {
    border-top: #0065FC 2px solid;
    padding-top: 14px;
    color: #0065FC;
}

.sous-logo h1,
.sous-logo p {
    margin-bottom: 0.2em;
}

.sous-logo p {
    margin-top: 0;
}

/************************** add header ************************/

.filters ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

.filters li {
    margin-right: 15px;
    border: #F2F2F2 2px solid;
    padding: 10px;
    border-radius: 50px; 
}

.filters li:hover {
    background-color: #DEEBFF;
}

.filters {
    display: flex;
    align-items: center;
    
}

.filters i {
    margin-right:5px;
}

.filters h2 {
    font-size: 16px;
    margin: 3% 1% 3% 0;
}

.main-container p {
    margin-bottom: 2%;
    margin-top: 0;
}

.main-container p i {
    border: #F2F2F2 solid 2px;
    border-radius: 30px;
    padding: 12px 10px 12px 10px;
    margin-right: 10px;
}
/*************** add button ****************/

form {
    width: 25%;
    display: flex;
}

form .fa-solid {
    color: #000;
    padding: 15px;
    border: #F2F2F2 1px solid;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
}

.btn-desktop {
    font-size: 15px;
    color: white;
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 0px 15px 15px 0px;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
}

.search {
    display: flex;
    flex-direction: row;

}

input {
    border: #F2F2F2 1px solid;
    text-align: center;
    color: black;
    font-size: 15px;
    padding: 0;
    font-weight: bold;
    width: 180px;
}

/******************** add hebergements ******************/

.hebergements figure {
    width: 235px;
    height: 190px;
    margin-bottom: 15%;
}

.hebergements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

figure img {
    width: 235px;
    height: 110px;
    border-radius: 15px 15px 0 0;
    margin-bottom: 0;
}

.hebergements h2 {
    width: 100%;
    margin: 0 0 4% 0;
}

.hebergements h3 {
    margin: 3% 0 0 5%;
    font-size: 16px;
}

.hebergements figcaption p {
    margin: 3% 0 0 5%;
    font-size: 14px;
    font-weight: 400;
}

.hebergements .card-rating {
    margin: 2% 0 0 5%;
}

.hebergements p {
    font-weight: bold;
    margin-top: 0;
    font-size: 18px;
}

/******************** add activity ******************/

.activites {
    display: flex;
    flex-wrap: wrap;
}

.activites h2 {
    width: 100%;
    padding-left: 3%;
    font-size: 22px;
    margin-top: 5%;
}

.activites figure {
    width: 290px;
    height: 430px;
    margin: 5% 25px 20% 12%
}

.activites figure img {
    width: 290px;
    height: 370px;
}

.activites .card{
    padding: 0;
}

.activites figcaption {
    display: flex;
    font-size: 15px;
    font-weight: bold;
    margin-left: 7%;
    margin-top: 6%;
}
/******************** add footer******************/

footer {
    background-color: #F2F2F2;
    display: flex;
}

footer section {
    width: 100%;
    margin-left: 2%;
} 

 footer h3 {
    width: 200px;
    margin-bottom: 3%;
 }

footer li {
    margin-bottom: 3%;
}


/********************** add*************************/
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements p {
        width: 100%;
    }
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites figure {
        width: 200px;
        height: 260px;
        margin: 5% 25px 20% 12%
    }
    
    .activites figure img {
        width: 50%px;
        height: 190px;
    }
    
    .activites .card{
        padding: 0;
    }
    
    .activites figcaption {
        display: flex;
        font-size: 15px;
        font-weight: bold;
        margin-left: 7%;
        margin-top: 6%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}